* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
    padding: 0;
}

ol[role='list'],
ul[role='list'] {
    list-style: none;
    padding-inline: 0;
}

img {
    display: block;
    max-inline-size: 100%;
}

body {
    margin: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1520px;
    position: relative;
    margin: 0 auto;
}

:root {
    --red: #ff5e5e;
    --white: #ffffff;
    --black: #282830;
    --dark-grey: #757c84;
    --light-grey: #fafafa;
    --font-family: 'Roboto', sans-serif;
}

.promo {
    padding-top: 15px;
    background: url('../img/promo/main_bg.jpg') center center / cover no-repeat;
    min-height: 994px;
}

.header {
    position: relative;
    display: flex;
    gap: 405px;
    align-items: center;
}

.header::after {
    position: absolute;
    top: 90px;
    display: block;
    content: '';
    width: 740px;
    height: 1px;
    background-color: #f3a917;
}

.header__img {
    width: 88px;
    height: 64px;
}

.header__socials {
    display: flex;
    gap: 40px;
    align-items: center;
}

.promo__block {
    margin-top: 190px;
    max-width: 700px;
}

.promo__title {
    margin-top: 35px;
    font-weight: 700;
    font-size: 60px;
    color: var(--white);
    letter-spacing: 0.04em;
}

.promo__text {
    margin-top: 25px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: var(--light-grey);
}

.promo__read-btn {
    margin-top: 220px;
    padding: 15px 20px;
    min-width: 246px;
    background: #f3a917;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

.promo__get-btn {
    margin-left: 35px;
    border: 1px solid #f3a917;
    padding: 15px 20px;
    min-width: 246px;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: var(--white);
    cursor: pointer;
    background: none;
}

.timetable {
    padding: 140px 0;
    background: #000;
}

.timetable__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 141%;
    color: var(--white);
}

.timetables__btns {
    display: flex;
    margin-top: 40px;
}

.timetables__btns::before {
    position: absolute;
    content: '';
    display: block;
    border: 2px solid #f3a917;
    width: 78.5%;
}

.timetable__tab {
    padding: 15px 31px;
    min-width: 152px;
    border: 0;
    background: #f3a917;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: 0.01em;
    color: var(--white);
    cursor: pointer;
}

.timetable__tab.active {
    background: #f3a917;
    color: var(--white);
    border: none;
}

.timetable__tab:not(.active) {
    background: none;
    border: 1px solid #f3a917;
    color: var(--white);
}

.active .timetable__block {
    display: flex;
}

.timetable__content {
    margin-top: 90px;
    position: relative;
}

.timetable__block {
    display: none;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
}

.timetable__block.active {
    display: flex;
}

.timetable__item {
    position: relative;
    background-color: #333;
    border-radius: 10px;
    padding: 40px 35px 30px 30px;
    height: 400px;
}

.timetable__item:hover {
    box-shadow: 0 0 25px rgba(255, 168, 0, 0.6);
}

.timetable__item:hover .item__watch-btn {
    opacity: 1;
    pointer-events: auto;
    /* transform: translate(-50%, -50%) scale(1.03); */
}

.timetable__item-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timetable__item-header::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    top: 50px;
    background: #f3a917;
}

.timetable__item-title {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--white);
}

.timetable__item-datetime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timetable__item-date {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.01em;
    color: var(--white);
}

.timetable__item-hour {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.01em;
    color: var(--white);
}

.timetable__item-teams {
    margin-top: 56px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.item__teams-logo {
    object-fit: contain;
    filter: drop-shadow(0 0 2px #000);
}

.item__watch-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f3a917;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.timetable__item-players {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.timetable__item-player {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timetable__item-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--white);
}

.timetable__item-odds {
    border: 2px solid #f3a917;
    text-align: center;
    padding: 5px 10px;
    min-width: 58px;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
}

.timetable__item-footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timetable__block .timetable__item:nth-child(2) .timetable__item-footer {
    margin-top: 39px;
}

.timetable__block .timetable__item:nth-child(3) .timetable__item-footer {
    margin-top: 39px;
}

.timetable__item-countdown {
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.01em;
    color: var(--dark-grey);
}

.timetable__block--battles .timetable__item {
    padding: 48px 35px 48px 35px;
}

.timetable__block--battles .timetable__item-header::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    top: 35px;
    background: #f3a917;
}

.timetable__block--battles .item__teams-logo {
    padding-left: 18px;
}

.timetable__item-groups {
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.timetable__item-match {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.timetable__item-group {
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    color: var(--white);
}

.item__match-number {
    border: 2px solid #f3a917;
    text-align: center;
    padding: 5px 10px;
    min-width: 58px;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--white);
}

.timetable__block--battles .timetable__item-footer {
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.01em;
    color: var(--dark-grey);
}

.slider {
    margin-top: 55px;
    text-align: center;
}

.swiper-button-prev,
.swiper-button-next {
    width: 50px;
}

.pagination {
    left: 50% !important;
    top: calc(100% + 28px) !important;
    transform: translateX(-50%);
}

.navigation {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -40px;
}

.swiper-pagination-bullet {
    background-color: #ccc;
    width: 10px;
    height: 10px;
}

.swiper-pagination-bullet-active {
    background-color: #f3a917;
}
.stage {
    padding: 115px 0;
    background-color: #f3a917;
}

.stage__wrapper {
    display: flex;
    gap: 132px;
}

.stage__block:first-child {
    margin-top: 30px;
    width: 40%;
}

.stage__block-wrapper {
    display: flex;
    flex-direction: row;
    gap: 58px;
}

.stage__block-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 109%;
    color: #000;
}

.stage__block-text {
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
    line-height: 167%;
    letter-spacing: 0.01em;
    color: #000;
}

.block__item {
    text-align: center;
    img {
        width: 80px;
        height: 80px;
        display: block;
        margin: 0 auto;
    }
}

.block__item::after {
    position: absolute;
    top: 39%;
    margin-left: 200px;
    display: block;
    content: '';
    width: 77px;
    height: 4px;
    background: #ffffff;
}

.block__item:last-child::after {
    display: none;
}

.block__item-descr {
    margin-top: 33px;
    font-weight: 700;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: 0.01em;
    /* text-align: center; */
    color: #000;
}

.block__item-shedule {
    font-weight: 400;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000;
}

.stage__block-reg {
    margin: 85px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--white);
    border-radius: 5px;
    padding: 10px;
    width: 341px;
    height: 60px;
}

.block__reg-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 156%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000;
}

.footer {
    padding: 500px 0 90px 0;
    background: url('../img/footer/footer_bg.jpg') center top / cover no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 100vh;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.footer__table-block {
    width: auto;
}

.footer__title {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 141%;
    color: var(--white);
}

.footer__subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    line-height: 180%;
    color: var(--white);
}

.footer__table {
    min-width: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    list-style: none;
}

.table__row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ffaa00;
    background-color: #292a2f;
}

.table__header {
    display: flex;
    justify-content: flex-start;
    background-color: #ffaa00;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #000;
}

.table__cell {
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: var(--white);
    flex: 1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.table__cell:first-child {
    position: relative;
    max-width: 50px;
    justify-content: center;
    padding-right: 10px;
}

.table__cell:first-child::after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    width: 1px;
    height: 160%;
    background-color: #ffaa00; /* цвет бордера */
}

.table__cell:nth-child(2) {
    padding-left: 20px;
}

.table__flag {
    width: 20px;
    height: 14px;
    object-fit: cover;
    border-radius: 2px;
}

.footer__links {
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
    gap: 125px;
    a {
        font-weight: 700;
        font-size: 20px;
        line-height: 175%;
        color: var(--white);
        text-transform: uppercase;
        text-decoration: none;
    }
}
